#customers {
    font-family: "Open Sans", Arial, Helvetica;
    border-collapse: collapse;
    width: 100%;
    font-style: light;
    font-size: 22px
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
